<nav  class="d-flex bd-highlight" style="font-size:50px">
    <span  class="p-2 flex-grow-1 bd-highlight"  ><i class="material-icons icon-image-preview"  style="font-size:50px;margin: auto;">cloud_circle</i><b> Herolo Weather Task</b></span>
    <div class="btn-group btn-group-toggle" data-toggle="buttons" style="margin-right: 2%;">
    <a class="btn btn-secondary active" id="option1" style="min-width:6vmax;margin-top: 10%;margin-bottom: 10%;font-size:25px" routerLink="Favorite"><i class="material-icons icon-image-preview" style="font-size: 25px;">favorite_border</i> Favorite</a>
    <a class="btn btn-secondary" id="option2" style="min-width:6vmax;margin-top: 10%;margin-bottom: 10%;font-size:25px" routerLink="Home"><i class="material-icons icon-image-preview" style="font-size: 25px;">home</i> Home</a>
  </div>
</nav>